@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
*{
  font-family: 'Poppins', sans-serif;
}

:root{
  --txt-color: #080907;
  --bg-color: #fafcfa;
  --primary: #76a25d;
  --second: #b8d5a8;
  --accent: #91c772; 
 }