<main>
  <div class="left">
    <h1>Stay logged in your account</h1>
  </div>
  <div class="right">
    <form (ngSubmit)="onSubmit()" [formGroup]="form">
      <input type="text" formControlName="email" required>
      <label for="email">Email</label>
      <input type={{typePassword}} formControlName="password" required>
      <label for="password">Password</label>
      <i class={{iClass}} undefined (click)="revealPass()"></i>
      <p>Don't have any account? <a href="/">Register</a></p>
      <button type="submit">Login</button>
    </form>
  </div>
</main>
