*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Poppins, sans-serif;
}

*::selection{
  background-color: orangered;
  color: white;
}

main{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

form{
  height: 400px;
  width: 500px;
  background-color: purple;
  padding: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}

::placeholder{
  color: white;
}

.transac{
  width: 200px;
}

form input{
  padding: 10px 10px;
  background-color: transparent;
  width: 80%;
  outline: none;
  border-radius: 10px;
  border: 2px solid white;
  color: white;
  font-weight: 600;
}

aside{
  display: flex;
  gap: 9px;
}