*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Poppins, sans-serif;
}

*::selection{
  background-color: var(--accent);
  color: white;
}

body{
  background-color: var(--bg-color);
}

main{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

form{
  height: 400px;
  width: 500px;
  background-color: var(--second);
  padding: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: var(--txt-color);
  gap: 40px;
  border-radius: 8px;
  box-shadow: 1px 3px var(--accent);
}

::placeholder{
  color: var(--txt-color);
  position: relative;
}

.transac{
  width: 90%;
}

form input{
  padding: 6px 10px;
  background-color: transparent;
  outline: none;
  border-radius: 4px;
  border: none;
  border-bottom: 1px solid var(--txt-color);
  font-weight: 400;
}


aside{
  display: flex;
  gap: 9px;
}

aside input{
  width: 80%;
}

.type{
  width: 150px;
  text-align: center;
}

form button{
  padding: 4px 40px;
  outline: none;
  border: 3px solid var(--accent);
  background-color: transparent;
  color: var(--txt-color);
  font-weight: 600;
  border-radius: 3px;
  cursor: pointer;
  transition: .4s;
  letter-spacing: 2px;
}

form button:hover{
  letter-spacing: 4px;
  box-shadow: 0 3px var(--accent);
}

input[type=number]{
  appearance: textfield;
  -moz-appearance: textfield;
}

.second{
  justify-content: space-between;
  gap: 140px;
}

.error{
  position: absolute;
  background-color: var(--primary);
  top: 80px;
  padding: 4px 20px;
  transition: .4s;
}

@media (max-width: 383px){
  form{
    width: 90%;
  }

  .second{
    gap: 20px;
  }

  form{
    padding: 10px;
    text-align: center;
  }

  .error{
    max-width: 95%;
  }
}