<main>
  <div class="error" *ngIf="errorMsg">
    <p>{{ errorMsg }}</p>
  </div>
  <form (ngSubmit)="onSubmit()" [formGroup]="form">
    <h3>Post your transaction!</h3>
    <input required type="text" class="transac" formControlName="transaction" 
    placeholder="Transaction">
      <aside>
      <input required type="email" formControlName="email" placeholder="Email">
      <input required type={{typePassword}} formControlName="password" placeholder="Password">
      <i class={{iClass}} undefined (click)="revealPass()"></i>
    </aside>
    <aside class="second">
      <input required type="text" formControlName="type" 
      placeholder="Credit | Debit" class="type">
      <input required type="number" formControlName="amount" min="0" step=".01"
      placeholder="Amount">
    </aside>
    <p>Already have an account? <a href="/login">Login</a> </p>
    <button type="submit">Create</button>
  </form>
</main>
